# general
TODO
*topology*
test.yaml

# sensitive ENV
.env
.sops.yaml
keys.txt

# deployment statefiles & misc
.terraform*
*.pkrvars.hcl
*.tfvars
*.tfstate*
*.tfplan
inventory.ini

# kubeconfig
liquid

# secrets
*.crt
*.csr
*.key
