# general
TODO
*topology*
test.yaml

# sensitive ENV
.env
.sops.yaml
keys.txt

# deployment statefiles & misc
.terraform*
*.pkrvars.hcl
*.tfvars
*.tfstate*
*.tfplan
inventory.ini

# kubeconfig
liquid
kconfig

# secrets
*.crt
*.csr
*.key
*.srl

infra/kube/vendor/*
!infra/kube/vendor/versions.txt
!infra/kube/vendor/kustomization.yaml


app/mana/vendor/*
!app/mana/vendor/modules.txt
